@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 255, 255, 255;        /* White color */
  --background-start-rgb: 100, 149, 237;  /* Cornflower blue color */
  --background-end-rgb: 65, 105, 225;     /* Royal blue color */
}

body {
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    ),
    url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="1440" height="800" viewBox="0 0 1440 800" preserveAspectRatio="none"%3E%3Cpath d="M0 800c122.857 0 137.429-69.7143 274.857-69.7143C412.286 730.286 685.143 800 960 800c274.857 0 274.857-69.7143 411.429-69.7143C1374.86 660.571 1374.86 800 1440 800v-800H0v800z" fill="%234C94ED" fill-opacity="0.3"%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

